<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'store_custom/styles.css' %}">
</head>
<body>
    <h1>StoreFront</h1>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
           
        </ul>
    </nav>
    <div class="home-page">
        <h2>Welcome to our Store!</h2>
        <p>This is the home page.</p>
        
    </div>
</body>
</html>